body {
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #191919;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  text-transform: uppercase;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  font-weight: 400;
}
.line-break {
  display: block;
}
header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.header-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 0 ;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 250px;
  margin: 0 auto;
}
.gamburger {
  position: relative;
  bottom: 5px;
  left: 0;
  display: block;
  cursor: pointer;
}
.gamburger span {
  position: relative;
  left: 4px;
  width: 20px;
  height: 1px;
  background-color: #767676;
  display: inline-block;
  cursor: pointer;
}
.gamburger span:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 0px;
  width: 20px;
  height: 1px;
  background-color: #767676;
}
.gamburger span:after {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 0px;
  width: 20px;
  height: 1.4px;
  background-color: #767676;
}
.main-menu {
  display: none;
  list-style-type: none;
  padding: 0;
  -ms-flex-order: 1;
      order: 1;
  width: 100%;
}
.main-menu__item {
  cursor: pointer;
  padding: 15px 0 15px 0;
}
.main-menu__item:last-child {
  padding-bottom: 0;
}
.main-menu__item a {
  text-decoration: none;
  color: #000;
}
.switcher {
  color: #888888;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 61px;
}
.switcher__btn {
  padding-top: 2px;
  display: inline-block;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.switcher__btn-active {
  color: #000;
}
.logo,
.logo-item,
.footer-logo {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 200;
  text-transform: lowercase;
}
.logo {
  display: block;
  letter-spacing: 3px;
  text-align: center;
  width: 92px;
  margin-left: 4px;
}
.logo a {
  color: #000;
  text-decoration: none;
}
.offers {
  padding: 65px 0 15px 0;
}
.offers .small-img {
  display: block;
}
.offers .big-img {
  display: none;
}
.offers__title {
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 1.34;
  margin: 18px 0 18px 0;
}
.offers__size {
  display: none;
}
.offers__view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 250px;
  margin: 0 auto;
  padding-left: 5px;
}
.offers__view-bag {
  border: 1px solid #dcdcdc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 32px 6px 39px 20px;
  height: 373px;
  margin-bottom: 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.offers__view-bag a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #648cff;
  width: 111px;
  padding-bottom: 3px;
  border-bottom: 1px solid #648cff;
}
.offers .bag20 {
  padding: 25px 5px 35px 18px;
}
.offers .bag20 .offers__title {
  margin: 44px 0 23px 0;
}
.offers .bag220 {
  padding: 13px 6px 35px 17px;
  margin-bottom: 62px;
}
.offers .bag220 .offers__title {
  margin-top: 10px;
}
.offers .bag220 .middle-img {
  display: none;
}
.offers .bag1200 {
  padding: 16px 6px 39px 17px;
  margin-bottom: 47px;
}
.offers .bag1200 .offers__title {
  margin: 10px 0 18px 0;
}
.offers .bag1200 .middle-img {
  display: none;
}
footer {
  background-color: #2b2b32;
  text-align: center;
  padding: 36px 0 40px;
  color: #fff;
}
.phone,
.email {
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.phone span:first-child,
.email span:first-child {
  letter-spacing: 3px;
}
.phone span:last-child,
.email span:last-child {
  color: #888888;
  font-size: 14px;
  margin: 13px 0 33px 0;
  letter-spacing: 1px;
}
.email span:last-child {
  text-transform: lowercase;
}
.footer-logo {
  font-size: 22px;
  margin: 30px 0 15px 0;
}
.footer__inner .footer-logo:before {
  content: '';
  position: relative;
  display: block;
  height: 1px;
  width: 209px;
  background: #888;
  right: 0;
  left: 0;
  bottom: 29px;
  margin: auto;
}
.footer__inner .rights {
  font-size: 14px;
  color: #888888;
  text-transform: none;
}
.popup-content {
  display: none;
}
.fruits .fruit-img.small-img {
  display: block;
  width: 210px;
}
.fruits .fruit-img.middle-img {
  display: none;
}
.fruits .fruit-img.big-img {
  display: none;
}
.fruits .offers__view {
  padding-left: 5px;
}
.fruits .offers__view-bag {
  padding: 29px 6px 80px 18px;
  height: 427px;
  width: 248px;
  margin-bottom: 34px;
}
.fruits .offers__title {
  font-size: 14px;
  letter-spacing: 2.7px;
  width: 216px;
  line-height: 1.59;
  margin: 12px 0 25px 0;
}
.fruits .fruit2 {
  height: 325px;
  padding: 35px 6px 80px 9px;
}
.fruits .fruit2 .small-img {
  width: 169px;
}
.fruits .fruit2 .offers__title {
  margin: 9px 0 26px 9px;
}
.fruits .fruit2 a {
  margin-left: 9px;
}
.fruits .fruit3 {
  height: 355px;
  padding: 36px 0px 80px 8px;
}
.fruits .fruit3 .small-img {
  width: 191px;
  position: relative;
  left: -21px;
}
.fruits .fruit3 .offers__title {
  margin-top: 10px;
  padding-left: 12px;
  line-height: 1.66;
}
.fruits .fruit3 a {
  margin-left: 12px;
}
.fruits .fruit4 {
  height: 333px;
  padding-top: 25px;
}
.fruits .fruit4 .small-img {
  width: 207px;
  position: relative;
  left: -9px;
}
.fruits .fruit4 .offers__title {
  margin-top: 2px;
  line-height: 1.66;
}
.fruits .fruit5 {
  height: 404px;
  padding-top: 40px;
  margin-bottom: 35px;
}
.fruits .fruit5 .offers__title {
  margin: 15px 0 25px 2px;
}
.fruits .fruit6 {
  height: 365px;
  padding-top: 38px;
  margin-bottom: 35px;
}
.fruits .fruit6 .small-img {
  width: 206px;
}
.fruits .fruit6 .offers__title {
  margin: 13px 0 30px 0;
}
.fruits .fruit7 {
  height: 466px;
  padding: 32px 6px 80px 20px;
}
.fruits .fruit7 .small-img {
  width: 122px;
  position: relative;
  left: 14px;
}
.fruits .fruit7 .offers__title {
  margin: 7px 0 27px;
}
.fruits .fruit8 {
  height: 348px;
  padding: 37px 6px 80px 19px;
}
.fruits .fruit8 .small-img {
  width: 222px;
  position: relative;
  left: -13px;
}
.fruits .fruit8 .offers__title {
  margin-top: 19px;
}
.fruits .fruit9 {
  height: 332px;
  padding: 34px 6px 80px 20px;
}
.fruits .fruit9 .small-img {
  width: 207px;
}
.fruits .fruit9 .offers__title {
  margin-top: 14px;
}
.fruits .fruit10 {
  height: 362px;
  padding: 38px 6px 80px 20px;
}
.fruits .fruit10 .small-img {
  width: 132px;
}
.fruits .fruit10 .offers__title {
  margin-top: 6px;
}
.fruits .fruit11 {
  height: 360px;
  padding: 39px 6px 80px 20px;
  margin-bottom: 35px;
}
.fruits .fruit11 .small-img {
  width: 195px;
}
.fruits .fruit11 .offers__title {
  margin: 9px 0 27px;
}
.fruits .fruit12 {
  height: 321px;
  padding: 33px 6px 80px 18px;
}
.fruits .fruit12 .small-img {
  width: 158px;
  position: relative;
  left: 3px;
}
.fruits .fruit12 .offers__title {
  margin-bottom: 26px;
}
.fruits .fruit13 {
  height: 362px;
  padding: 53px 6px 80px 20px;
  margin-bottom: 35px;
}
.fruits .fruit13 .small-img {
  width: 207px;
}
.fruits .fruit13 .offers__title {
  margin: 5px 0 30px;
}
.fruits .fruit14 {
  height: 341px;
  padding: 36px 6px 80px 19px;
}
.fruits .fruit14 .small-img {
  width: 207px;
}
.fruits .fruit14 .offers__title {
  margin-top: -4px;
}
.fruits .fruit15 {
  height: 345px;
  padding: 48px 6px 80px 19px;
  margin-bottom: 60px;
}
.fruits .fruit15 .small-img {
  width: 207px;
}
.fruits .fruit15 .offers__title {
  margin: 30px 0 29px;
}
.about {
  width: 250px;
  margin: 0 auto;
  padding: 36px 0 15px 0;
}
.about a {
  color: #0079c1;
}
.about p {
  padding: 0;
  margin: 0;
  text-transform: none;
  font-size: 16px;
  text-align: left;
  color: #666;
  line-height: 1.5;
}
.about__advantages {
  padding: 0;
  text-transform: none;
  font-size: 16px;
  text-align: left;
  color: #666;
  margin: 26px 0 33px 0;
  line-height: 1.5;
}
.about li {
  list-style-type: none;
}
.about__source {
  margin-bottom: 23px;
}
.about__title {
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 24px;
}
.contact {
  margin: 0 auto;
  padding: 36px 0 15px 0;
}
.contact__inner {
  width: 250px;
  margin: 0 auto;
}
.contact__map {
  width: 100%;
  height: 220px;
}
.contact__office,
.contact__stock {
  margin-bottom: 24px;
  padding-top: 16px;
}
.contact__office-title {
  margin: 20px 0 9px;
}
.contact__stock-title {
  margin: 21px 0 14px 0;
}
.contact__stock-title,
.contact__office-title {
  font-size: 14px;
}
.contact__title {
  font-size: 18px;
  letter-spacing: 3.5px;
}
.contact p {
  color: #666;
  font-size: 14px;
  text-transform: none;
  margin: 0 0 3px 0;
  letter-spacing: 1px;
}
.contact__stock p {
  letter-spacing: 0px;
}
.main-page {
  background-image: url(../img/main320.png);
  background-repeat: no-repeat;
  background-position: 40% -1%;
  background-size: contain;
  width: 250px;
  margin: 0 auto;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
}
.main-page__title {
  font-size: 26px;
  font-family: 'Comfortaa', cursive;
  text-transform: none;
  margin: 0 auto;
  padding: 42px 0 115px;
  width: 100%;
}
.main-page__img {
  width: 264px;
}
.main-page__fruit,
.main-page__bag,
.main-page__about {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #a6a6a6;
}
.main-page__about {
  padding-top: 12px;
}
.main-page__about .main-page__block {
  position: relative;
  left: -6px;
  top: -15px;
}
.main-page__about p {
  padding-top: 26px;
  padding-bottom: 0;
}
.main-page__about .main-page__title-pages {
  margin-bottom: 3px;
  margin-top: 8px;
}
.main-page__bag {
  padding-top: 12px;
}
.main-page__bag .main-page__block {
  padding-top: 2px;
}
.main-page__fruit,
.main-page__bag {
  margin-bottom: 30px;
}
.main-page__title-pages {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding-right: 9px;
  letter-spacing: 2px;
  line-height: 1.4;
  margin-bottom: 17px;
}
.main-page__pop-btn {
  color: #648cff;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #648cff;
  width: 119px;
  padding-bottom: 4px;
}
.main-page__inner {
  width: 250px;
  margin: 0 auto;
}
.main-page p {
  width: 246px;
  text-align: left;
  margin: 0 auto;
  padding: 35px 0 60px;
  text-transform: none;
  font-size: 14px;
  line-height: 1.5;
}
.main-page__about p {
  padding-bottom: 0;
  color: #666;
}
.main-page__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.btn-to-page {
  padding: 20px 35px;
  background-color: #648cff;
  color: #fff;
  text-decoration: none;
  width: 247px;
  text-align: center;
  margin: 32px 0 43px;
  font-size: 14px;
  letter-spacing: 1.3px;
}
.fixmenu {
  display: block;
  position: fixed;
  background-color: #fff;
  z-index: 11;
  top: 65px;
  left: 0;
  padding: 0 35px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.11);
  width: 100%;
}
.fixmenu .main-menu__item:last-child {
  padding-bottom: 20px;
}
.openmenu {
  overflow: hidden;
}
.btn-to-page:hover {
  background-color: #789bff;
}
.btn-to-page:active {
  background-color: #5278e5;
}
.main-menu__item a:hover {
  border-bottom: 1px solid #648cff;
  padding-bottom: 4px;
  color: #648cff;
}
.main-page__pop-btn:hover {
  color: #5278e5;
}
.main-page__pop-btn:active {
  color: #5278e5;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media (min-width: 768px) {
  .line-break {
    display: inline-block;
  }
  .header-inner {
    -ms-flex-pack: center;
    justify-content: center;
    width: 580px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .gamburger span {
    display: none;
  }
  .main-menu {
    width: 84%;
    padding-right: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 5px;
  }
  .main-menu__item {
    padding-right: 50px;
    letter-spacing: 1.5px;
  }
  .main-menu__item:last-child {
    margin-left: 69px;
  }
  .switcher {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 27px;
  }
  .logo-item {
    display: none;
  }
  .logo {
    margin-bottom: 4px;
    width: 100%;
    font-size: 22px;
  }
  .offers {
    padding-top: 67px;
  }
  .offers .small-img {
    display: none;
  }
  .offers .big-img {
    display: block;
    width: 411px;
  }
  .offers__title {
    margin: 35px 0 23px 3px;
  }
  .offers a {
    margin-left: 5px;
  }
  .offers__size {
    display: inline-block;
    text-align: right;
    font-size: 50px;
    position: absolute;
    top: 42px;
    right: 28px;
    letter-spacing: 9.4px;
  }
  .offers__view {
    width: 580px;
  }
  .offers__view-bag {
    width: 100%;
    height: 421px;
    padding: 82px 11px 40px 35px;
  }
  .offers .bag20 {
    height: 511px;
    padding: 78px 10px 40px 35px;
  }
  .offers .bag20 .big-img {
    width: 435px;
  }
  .offers .bag20 a {
    margin: 0;
  }
  .offers .bag20 .offers__size {
    top: 45px;
    right: 25px;
  }
  .offers .bag20 .offers__title {
    margin-top: 55px;
  }
  .offers .bag220 {
    height: 511px;
    padding: 32px 20px 39px 32px;
    margin-bottom: 67px;
  }
  .offers .bag220 .offers__title {
    margin-top: 0px;
  }
  .offers .bag220 .offers__size {
    top: 44px;
  }
  .offers .bag220 .small-img,
  .offers .bag220 .big-img {
    display: none;
  }
  .offers .bag220 .middle-img {
    display: block;
    width: 517px;
  }
  .offers .bag1200 {
    height: 510px;
    padding: 51px 20px 37px 29px;
    margin-bottom: 53px;
  }
  .offers .bag1200 .offers__title {
    margin: 26px 0 18px 8px;
  }
  .offers .bag1200 .offers__size {
    top: 52px;
  }
  .offers .bag1200 .small-img,
  .offers .bag1200 .big-img {
    display: none;
  }
  .offers .bag1200 .middle-img {
    display: block;
    width: 517px;
  }
  .offers .bag1200 a {
    margin-left: 5px;
  }
  .phone,
  .email {
    width: 40%;
  }
  .phone span:last-child,
  .email span:last-child {
    font-size: 16px;
  }
  .footer-logo {
    width: 100%;
    margin-top: 84px;
  }
  .footer__inner {
    width: 580px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer__inner {
    padding-top: 24px;
  }
  .footer__inner .footer-logo:before {
    width: 100%;
    bottom: 59px;
  }
  .footer__inner .rights {
    width: 100%;
    font-size: 16px;
  }
  .fruits .fruit-img.small-img {
    display: none;
  }
  .fruits .fruit-img.middle-img {
    display: block;
  }
  .fruits .offers__view-bag {
    width: 577px;
  }
  .fruits .offers__title {
    font-size: 18px;
    line-height: 1.4;
    width: 363px;
  }
  .fruits .fruit1 {
    margin-bottom: 60px;
    padding: 27px 6px 80px 36px;
    height: 421px;
  }
  .fruits .fruit1 .middle-img {
    width: 456px;
    position: relative;
    left: -14px;
  }
  .fruits .fruit1 .offers__view-bag {
    padding-left: 21px;
  }
  .fruits .fruit1 .offers__title {
    margin: 12px 0 22px;
  }
  .fruits .fruit1 a {
    margin-left: 0;
  }
  .fruits .fruit2 {
    height: 324px;
    padding: 45px 6px 80px 25px;
    margin-bottom: 60px;
  }
  .fruits .fruit2 .middle-img {
    width: 166px;
    position: relative;
    left: 11px;
  }
  .fruits .fruit2 .offers__title {
    width: 448px;
    margin: 14px 0 29px 9px;
  }
  .fruits .fruit3 {
    height: 352px;
    padding: 31px 0 80px 24px;
    margin-bottom: 60px;
  }
  .fruits .fruit3 .middle-img {
    width: 215px;
    position: relative;
    left: -28px;
  }
  .fruits .fruit3 .offers__title {
    margin-bottom: 21px;
  }
  .fruits .fruit4 {
    padding: 30px 6px 80px 34px;
    margin-bottom: 60px;
  }
  .fruits .fruit4 .middle-img {
    width: 207px;
    position: relative;
    left: -7px;
  }
  .fruits .fruit4 .offers__title {
    margin-top: 14px;
    width: 457px;
  }
  .fruits .fruit4 a {
    margin: 0;
  }
  .fruits .fruit5 {
    padding: 29px 6px 80px 32px;
    margin-bottom: 60px;
  }
  .fruits .fruit5 .middle-img {
    width: 247px;
    position: relative;
    left: 4px;
  }
  .fruits .fruit5 .offers__title {
    width: 505px;
    margin: 30px 0 27px 2px;
  }
  .fruits .fruit6 {
    padding: 31px 6px 80px 34px;
    margin-bottom: 60px;
  }
  .fruits .fruit6 .middle-img {
    width: 240px;
    position: relative;
    left: -1px;
  }
  .fruits .fruit6 .offers__title {
    margin: 16px 0 27px;
  }
  .fruits .fruit6 a {
    margin: 0;
  }
  .fruits .fruit7 {
    padding: 32px 6px 80px 35px;
    margin-bottom: 60px;
  }
  .fruits .fruit7 .middle-img {
    width: 126px;
    position: relative;
    left: 10px;
  }
  .fruits .fruit7 .offers__title {
    margin: 15px 0 27px;
    width: 500px;
  }
  .fruits .fruit8 {
    padding: 37px 6px 80px 35px;
    margin-bottom: 60px;
  }
  .fruits .fruit8 .middle-img {
    width: 222px;
    position: relative;
    left: -12px;
  }
  .fruits .fruit8 a {
    margin: 0;
  }
  .fruits .fruit8 .offers__title {
    margin-top: 15px;
  }
  .fruits .fruit9 {
    height: 330px;
    padding: 33px 6px 80px 34px;
    margin-bottom: 60px;
  }
  .fruits .fruit9 .middle-img {
    width: 194px;
    position: relative;
    left: 2px;
  }
  .fruits .fruit9 .offers__title {
    margin-top: 10px;
    width: 500px;
  }
  .fruits .fruit9 a {
    margin: 0;
  }
  .fruits .fruit10 {
    padding-left: 35px;
    margin-bottom: 60px;
  }
  .fruits .fruit10 .middle-img {
    width: 140px;
    position: relative;
    left: -4px;
  }
  .fruits .fruit10 a {
    margin: 0;
  }
  .fruits .fruit10 .offers__title {
    margin: 10px 0 28px;
    width: 500px;
  }
  .fruits .fruit11 {
    margin-bottom: 60px;
    padding-left: 35px;
  }
  .fruits .fruit11 .middle-img {
    position: relative;
    width: 208px;
    left: -6px;
  }
  .fruits .fruit11 .offers__title {
    width: 500px;
    margin-top: 11px;
  }
  .fruits .fruit11 a {
    margin: 0;
  }
  .fruits .fruit12 {
    padding: 32px 6px 80px 35px;
    margin-bottom: 58px;
  }
  .fruits .fruit12 .middle-img {
    width: 174px;
    position: relative;
    left: -9px;
  }
  .fruits .fruit12 .offers__title {
    width: 500px;
  }
  .fruits .fruit12 a {
    margin: 0;
  }
  .fruits .fruit13 {
    padding: 43px 6px 80px 35px;
    margin-bottom: 60px;
  }
  .fruits .fruit13 .middle-img {
    width: 239px;
    position: relative;
    left: 1px;
  }
  .fruits .fruit13 .offers__title {
    margin: 8px 0 27px;
  }
  .fruits .fruit14 {
    padding: 30px 6px 80px 35px;
    margin-bottom: 60px;
  }
  .fruits .fruit14 .middle-img {
    width: 222px;
    position: relative;
    left: -8px;
  }
  .fruits .fruit14 a {
    margin: 0;
  }
  .fruits .fruit14 .offers__title {
    width: 500px;
    margin: 5px 0 28px;
  }
  .fruits .fruit15 {
    padding: 31px 6px 80px 34px;
    height: 342px;
    margin-bottom: 68px;
  }
  .fruits .fruit15 .middle-img {
    width: 248px;
    position: relative;
    left: 3px;
  }
  .fruits .fruit15 a {
    margin: 0;
  }
  .fruits .fruit15 .offers__title {
    margin: 14px 0 27px;
  }
  .about {
    padding-top: 45px;
  }
  .about__advantages {
    margin-bottom: 42px;
  }
  .about {
    width: 580px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .contact {
    padding: 45px 0 20px 0;
  }
  .contact__inner {
    width: 580px;
  }
  .contact__map {
    height: 365px;
  }
  .contact__office,
  .contact__stock {
    padding-top: 24px;
    margin-bottom: 39px;
  }
  .contact__office-title {
    letter-spacing: 3.5px;
    margin-bottom: 13px;
  }
  .contact__stock-title {
    margin-bottom: 11px;
  }
  .contact__stock-title,
  .contact__office-title {
    font-size: 18px;
    letter-spacing: 3.5px;
  }
  .contact p {
    font-size: 16px;
  }
  .contact__stock {
    margin-bottom: 17px;
  }
  .contact .novorosijsk .contact__map {
    margin-bottom: 8px;
  }
  .main-page {
    width: 768px;
    background-image: url(../img/main768.png);
    margin: 0 auto;
    background-position: 40% -2.5%;
  }
  .main-page__title {
    padding-bottom: 0px;
    font-size: 60px;
  }
  .main-page__img {
    width: 369px;
    position: relative;
    left: -15px;
  }
  .main-page__fruit,
  .main-page__bag,
  .main-page__about {
    width: 580px;
    padding-top: 30px;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .main-page__about .main-page__img {
    left: 3px;
    width: 375px;
  }
  .main-page__about .main-page__block {
    left: 3px;
    top: 3px;
  }
  .main-page__about p {
    padding-top: 25px;
    line-height: 1.35;
  }
  .main-page__about .btn-to-page {
    margin-bottom: 59px;
  }
  .main-page__bag {
    padding-top: 10px;
  }
  .main-page__bag .main-page__img {
    width: 473px;
    left: -10px;
  }
  .main-page__title-pages {
    font-size: 18px;
    margin-bottom: 26px;
  }
  .main-page__pop-btn {
    font-size: 16px;
  }
  .main-page__inner {
    width: 580px;
  }
  .main-page__inner p {
    width: 380px;
    text-align: left;
    margin: 0;
    font-size: 18px;
    padding-bottom: 225px;
  }
  .main-page__about p {
    margin: 0;
    width: 465px;
    font-size: 18px;
  }
  .btn-to-page {
    width: 359px;
    font-size: 16px;
    padding: 18px 35px;
    margin-bottom: 74px;
  }
}
@media (min-width: 1260px) {
  .header-inner {
    padding: 40px 0 27px 0;
    width: 1016px;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .main-menu {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 951px;
    padding-right: 68px;
  }
  .main-menu__item {
    padding: 0;
    padding-right: 30px;
    letter-spacing: 0;
  }
  .main-menu__item:last-child {
    margin: 0;
  }
  .switcher {
    padding: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 63px;
    margin-top: 6px;
  }
  .logo-item {
    display: block;
    font-size: 22px;
  }
  .logo {
    display: none;
  }
  .offers {
    padding-top: 87px;
  }
  .offers .big-img {
    position: relative;
    left: 4px;
  }
  .offers__title {
    -ms-flex-order: 1;
    order: 1;
    margin-top: 95px;
    letter-spacing: 4.7px;
  }
  .offers a {
    -ms-flex-order: 1;
    order: 1;
  }
  .offers__size {
    -ms-flex-order: 1;
    order: 1;
    top: 282px;
    right: 32px;
  }
  .offers__view {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1016px;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0;
  }
  .offers__view-bag {
    width: 488px;
    height: 513px;
    margin-bottom: 41px;
    padding: 94px 11px 40px 35px;
  }
  .offers .bag20 {
    height: 513px;
    margin-bottom: 41px;
    padding: 58px 10px 40px 37px;
  }
  .offers .bag20 .big-img {
    left: -10px;
  }
  .offers .bag20 .offers__size {
    top: 282px;
    right: 32px;
  }
  .offers .bag220 {
    padding: 45px 0 63px 29px;
    margin-bottom: 75px;
    height: 513px;
  }
  .offers .bag220 .middle-img {
    display: none;
  }
  .offers .bag220 .big-img {
    display: block;
    width: 429px;
    left: 9px;
  }
  .offers .bag220 .offers__title {
    margin-top: 27px;
  }
  .offers .bag220 .offers__size {
    top: 72px;
  }
  .offers .bag1200 {
    padding: 31px 0 35px 30px;
    height: 513px;
    margin-bottom: 75px;
  }
  .offers .bag1200 .middle-img {
    display: none;
  }
  .offers .bag1200 .big-img {
    display: block;
    width: 445px;
    left: -10px;
  }
  .offers .bag1200 .offers__title {
    margin-top: 11px;
  }
  .phone,
  .email {
    width: 35%;
  }
  .footer__inner {
    width: 1016px;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer__inner .footer-logo:before {
    bottom: 59px;
  }
  .fruits .fruit-img.middle-img {
    display: none;
  }
  .fruits .fruit-img.big-img {
    display: block;
  }
  .fruits .offers__view-bag {
    width: 323px;
    height: 362px;
    margin-bottom: 59px;
  }
  .fruits .offers__title {
    width: 300px;
  }
  .fruits .fruit1 {
    padding: 25px 3px 80px 22px;
    height: 364px;
    margin-bottom: 17px;
  }
  .fruits .fruit1 .big-img {
    width: 289px;
    height: 183px;
    position: relative;
    left: -7px;
  }
  .fruits .fruit1 .offers__title {
    margin: 2px 0 22px 2px;
    width: 300px;
  }
  .fruits .fruit2 {
    padding: 73px 6px 80px 12px;
    margin-bottom: 17px;
  }
  .fruits .fruit2 .big-img {
    width: 149px;
    position: relative;
    left: 10px;
  }
  .fruits .fruit2 .offers__title {
    width: 300px;
    margin: 22px 0 22px 9px;
  }
  .fruits .fruit3 {
    padding: 61px 0 80px 14px;
    margin-bottom: 17px;
  }
  .fruits .fruit3 .big-img {
    width: 187px;
    left: -16px;
    position: relative;
  }
  .fruits .fruit3 .offers__title {
    margin: 0px 0 25px 0;
    line-height: 1.3;
  }
  .fruits .fruit4 {
    padding: 24px 6px 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit4 .big-img {
    width: 201px;
    position: relative;
    left: -9px;
  }
  .fruits .fruit4 .offers__title {
    width: 300px;
    margin: 21px 0 25px;
    line-height: 1.3;
  }
  .fruits .fruit5 {
    padding: 19px 0 80px 24px;
    margin-bottom: 17px;
  }
  .fruits .fruit5 .big-img {
    width: 193px;
    left: -2px;
    position: relative;
  }
  .fruits .fruit5 .offers__title {
    margin: 6px 0 29px;
    line-height: 1.3;
    width: 300px;
  }
  .fruits .fruit5 a {
    margin: 0;
  }
  .fruits .fruit6 {
    padding: 39px 0 80px 24px;
    margin-bottom: 17px;
  }
  .fruits .fruit6 .big-img {
    width: 217px;
    left: -5px;
    position: relative;
  }
  .fruits .fruit6 .offers__title {
    margin: 0px 0 31px 0;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit7 {
    padding: 19px 0 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit7 .big-img {
    width: 83px;
    left: 8px;
    position: relative;
  }
  .fruits .fruit7 .offers__title {
    margin: 12px 0 23px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit7 a {
    margin: 0;
  }
  .fruits .fruit8 {
    padding: 55px 0 80px 24px;
    margin-bottom: 17px;
  }
  .fruits .fruit8 .big-img {
    width: 211px;
    left: -8px;
    position: relative;
  }
  .fruits .fruit8 .offers__title {
    margin: 31px 0 24px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit9 {
    padding: 83px 0 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit9 .big-img {
    width: 197px;
    left: -4px;
    position: relative;
  }
  .fruits .fruit9 .offers__title {
    margin: 11px 0 21px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit10 {
    padding: 41px 0 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit10 .big-img {
    width: 122px;
    left: -3px;
    position: relative;
  }
  .fruits .fruit10 .offers__title {
    margin: 18px 0 25px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit11 {
    padding: 40px 0 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit11 .big-img {
    width: 192px;
    left: -4px;
    position: relative;
  }
  .fruits .fruit11 .offers__title {
    margin: 11px 0 28px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit12 {
    padding: 68px 0 80px 23px;
    margin-bottom: 17px;
  }
  .fruits .fruit12 .big-img {
    width: 148px;
    left: -7px;
    position: relative;
  }
  .fruits .fruit12 .offers__title {
    margin: 27px 0 26px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit13 {
    padding: 74px 0 80px 23px;
    margin-bottom: 90px;
  }
  .fruits .fruit13 .big-img {
    width: 179px;
    left: -3px;
    position: relative;
  }
  .fruits .fruit13 .offers__title {
    margin: 4px 0 28px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit13 a {
    margin: 0;
  }
  .fruits .fruit14 {
    padding: 51px 0 80px 23px;
    margin-bottom: 90px;
  }
  .fruits .fruit14 .big-img {
    width: 185px;
    left: 0px;
    position: relative;
  }
  .fruits .fruit14 .offers__title {
    margin: 22px 0 23px;
    line-height: 1.3;
    width: 268px;
  }
  .fruits .fruit15 {
    padding: 25px 0 80px 23px;
    margin-bottom: 90px;
  }
  .fruits .fruit15 .big-img {
    width: 248px;
    left: -4px;
    position: relative;
  }
  .fruits .fruit15 .offers__title {
    margin: 50px 0 26px;
    line-height: 1.3;
    width: 268px;
  }
  .about {
    padding-top: 59px;
  }
  .about__advantages {
    margin-bottom: 55px;
  }
  .about {
    width: 1016px;
  }
  .contact {
    padding: 61px 0 45px 0;
  }
  .contact__inner {
    width: 1016px;
  }
  .contact__map {
    width: 500px;
    height: 313px;
    margin-top: 5px;
  }
  .contact__adress {
    width: 489px;
  }
  .contact__office,
  .contact__stock {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .contact__stock-title,
  .contact__office-title {
    margin: 0 0 10px 0;
  }
  .contact p {
    letter-spacing: 0.9px;
    line-height: 1.3;
  }
  .main-page {
    width: 1260px;
    background-image: url(../img/main1260.png);
    background-position-y: -6%;
  }
  .main-page__title {
    width: 1016px;
    font-size: 94px;
    letter-spacing: 2.7px;
  }
  .main-page__img {
    width: 446px;
    left: -77px;
  }
  .main-page__fruit,
  .main-page__bag,
  .main-page__about {
    width: 1016px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 75px;
  }
  .main-page__about {
    padding: 55px 0 69px 0;
  }
  .main-page__about .main-page__img {
    left: -95px;
  }
  .main-page__about .btn-to-page {
    margin-top: 81px;
  }
  .main-page__about .main-page__block {
    width: 381px;
    padding-top: 0;
  }
  .main-page__bag {
    padding-bottom: 20px;
  }
  .main-page__bag .main-page__img {
    left: -40px;
  }
  .main-page__bag .main-page__block {
    width: 468px;
    padding-top: 45px;
  }
  .main-page__fruit,
  .main-page__bag {
    margin-bottom: 16px;
  }
  .main-page__title-pages {
    width: 377px;
    line-height: 1.67;
  }
  .main-page__pop-btn {
    width: 151px;
    letter-spacing: 1.5px;
  }
  .main-page__inner {
    width: 1016px;
  }
  .main-page__inner p {
    width: 586px;
    font-size: 24px;
    padding: 59px 0 413px 0;
  }
  .main-page__block {
    width: 441px;
    padding-top: 101px;
  }
  .btn-to-page {
    width: 356px;
    margin-top: 92px;
  }
}

/*# sourceMappingURL=style.css.map */
